<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styleLayout.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/category.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/comment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/postForm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@300;700&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="/static/image/favicon.jpeg" type="image/x-icon">
</head>

<body>
    
    <script type="module" src="/static/js/app.js"></script>
    <script src="/static/js/categories.js"></script>
    <script src="/static/js/like.js"></script>
    <script type="module" src="/static/js/chat.js"></script>
    <script type="module" src="/static/js/filterCategories.js"></script>
    <script type="module" src="/static/js/index.js"></script>
    <script type="module" src="/static/js/formpost.js"></script>
    <a id="scroll-to-top" href="#"><i class="fas fa-angle-up" style="color: orangered;"></i></a>

</body>

</html>